/* shared styles */
.product-row h2,
.product-col h2 {
  width: 100%;
  font-size: 1rem;
  margin-top: 9px;
  margin-bottom: 12px;
}

.product-row h3,
.product-col h3 {
  font-size: 0.9rem;
  font-weight: bold;
}

.product-row .productImg,
.product-col .productImg {
  overflow: hidden;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
  background-color: #f2f2f2;
}
body[data-bs-theme="dark"] .product-row .productImg,
body[data-bs-theme="dark"] .product-col .productImg {
  background-color: #2f3337;
}

.product-row .productImg img,
.product-col .productImg img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info h3 {
  font-weight: 500;
}

.info h3 span {
  font-weight: 700;
}

.info > div:first-of-type {
  flex: 1;
}

/* -------------------------------------------------------------------------- */
/* column product component */
.product-col {
  width: 100%;
  display: flex;
  min-width: 120px;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.product-col .productImg {
  height: 200px;
}

/* -------------------------------------------------------------------------- */
/* row product component */
.product-row {
  display: flex;
  gap: 14px;
}

.product-row h2,
.product-row h3 {
  margin: 0;
  margin-bottom: 5px;
}

.product-row .productImg {
  width: 150px;
  height: 150px;
}
