.headerContainer {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  color: inherit;
  text-decoration: inherit;
  font-size: 1.8rem;
  margin: 0;
  flex: 1;
}

.headerLogo h1 {
  margin: 0;
  display: flex;
}

.headerLogo h1 span {
  display: block;
  margin-right: 5px;
}
